.imjoy-window {
  border-style: solid;
  border-width: 1px;
  color: #b3b3b3;
  width: 100%;
  height: 600px;
  max-width: 100%;
  max-height: 200vh;
}

.docsify-run-button,
.docsify-run-button span,
.fullscreen-button,
.fullscreen-button span,
.docsify-edit-button,
.docsify-edit-button span {
  cursor: pointer;
  transition: all 0.25s ease;
}

.docsify-run-button,
.docsify-edit-button,
.fullscreen-button {
  z-index: 1;
  height: 35px;
  margin-right: 6px;
  line-height: 10px;
  overflow: visible;
  padding: 0.65em 0.8em;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-size: 1em;
  background: #448aff;
  color: #fff !important;
  opacity: 0.7;
}

.docsify-run-button span,
.fullscreen-button span,
.docsify-edit-button span {
  border-radius: 3px;
  background: inherit;
  pointer-events: none;
}

.docsify-run-button:focus,
pre:hover .docsify-run-button,
.fullscreen-button:focus,
pre:hover .fullscreen-button,
.docsify-edit-button:focus,
pre:hover .docsify-edit-button {
  opacity: 1;
}

.docsify-close-button {
  position: absolute;
  right: 4px;
  top: 4px;
  line-height: 10px;
  height: 40px;
  z-index: 3;
  cursor: pointer;
  padding: 0.65em 0.8em;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-size: 1em;
  background: #448aff;
  color: #fff !important;
}

.docsify-fullscreen-button {
  position: absolute;
  right: 42px;
  top: 4px;
  line-height: 10px;
  height: 40px;
  z-index: 3;
  cursor: pointer;
  padding: 0.65em 0.8em;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-size: 1em;
  background: #448aff;
  color: #fff !important;
}

.docsify-loader {
  position: absolute;
  left: 13px;
  margin-top: 5px;
  display: inline-block;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  border: 6px solid #f3f3f3;
  /* Light grey */
  border-top: 6px solid #448aff;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.docsify-status {
  position: absolute;
  left: 130px;
  display: inline-block;
  font-size: 13px;
}

.docsify-progressbar-container {
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
  height: 3px;
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.docsify-status .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.docsify-status:hover .tooltiptext {
  visibility: visible !important;
}

.show-code-button {
  text-align: center;
  color: var(--docsifytabs-tab-highlight-color);
  cursor: pointer;
}
